@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: blue;
}

body {
    background-color: whitesmoke;
}

.navbar {
    background-color: blue;
}

.h2 {
    color: red;
}

.searchHistoryContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchBox {
    display: flex;
    flex-direction: column;
}

.search-header {
    font-weight: 500;
}

.d-block {
    margin: 8px 0;
}

.btn {
    background-color: blue;
    color: whitesmoke;
}

.basicRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vessel {
    margin: 16px 0;
}

.vesselTracker {
    font-weight: 500;
}